{% extends 'base_amp.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_meta %}
    <link rel="canonical" href="{{ page.full_url }}"/>
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    <article>
        {{ body_amp_html }}
    </article>

    {% for item in page.gallery_images.all %}
        <div>
            {% image item.image fill-600x500 as gallery_image %}
            <amp-img alt="{{ gallery_image.alt }}"
              src="{{ gallery_image.url }}"
              width="{{ gallery_image.width }}"
              height="{{ gallery_image.height }}"
              layout="responsive">
            </amp-img>
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

{% endblock %}
